.idea/
/bins/mpql
/bins/pql
/bins/pql.exe
/bins/mapqlquery
/bins/mpqlquery
/bins/pqlquery
/bins/pqlquery.exe
/bins/mapql
/bins/ddbtruncate
/bins/ddbtruncate.exe
/bins/maddbtruncate
/bins/mddbtruncate
